.first_background_img {
  width: 100%;
  height: 100%;
  background-image: url("/img/korean.png");
  background-size: cover;
}

.second_background_img {
  width: 100%;
  height: 100%;
  background-image: url("/img/chinese.png");
  background-size: cover;
}

.third_background_img {
  width: 100%;
  height: 100%;
  background-image: url("/img/western.png");
  background-size: cover;
}

.fourth_background_img {
  width: 100%;
  height: 100%;
  background-image: url("/img/japanese.png");
  background-size: cover;
}
